# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
c-shop/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environment variables
.env
.env.local
.env.*
*.env

# Django static files
staticfiles/

# Node
node_modules/
dist/

# OS
.DS_Store
Thumbs.db
